* {
    box-sizing: border-box;
}

html {
    font-family: $font-main;
    font-size: $font-size;
}

body {
    overflow-x: hidden;
    width: 100%;
    transition: transform 0.25s;
    background-color: $color-light;

    &::before {
        z-index: -10;
        height: 0;
        background-color: $color-primary;
        content: "";
        opacity: 0;
        transition: opacity 0.5s;

        @include abs-position;
    }

    &.active {
        overflow-y: hidden;
        transition: transform 0.5s;
        transform: translateX(-$navbar-mobile-width);

        &::before {
            height: 100vh;
            opacity: 0.85;
            z-index: 10;
        }
    }
}

a {
    text-decoration: none;
    color: $color-primary;
    transition: color 0.5s;
}

.container {
    display: grid;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gap;
    padding-right: $gap;
}